# CLI helper
typer>=0.26
# Dotenv for loading config
python-dotenv>=1
# QCI connection
qci-client>=5
# QCI models and base config
eqc_models>=0.15
# IBM Qiskit models
qiskit_ibm_runtime>=0.48
qiskit-optimization>=0.7
qiskit-aer>=0.17.2
# SMOTE and oversampling
imbalanced-learn>=0.14
# visualization
matplotlib>=3
# test file loading/writing
dataclass-wizard[yaml]>=1.0
# formatting (optional)
# ruff